*, *:after, *:before {
  box-sizing: border-box;
}

/* font-family: 'Bebas Neue';
font-family: 'Fondamento'; */

body {
  margin: 0;
  /* background-color: rgb(120, 241, 120); */
  /* background-image: url(../images/Ocean.png); */
}

/* #app {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

#nav-container{
  display: flex;
  justify-content: center;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 85vw;
  height: 50px;
}

#connect-btn {
  font-family: 'Bebas Neue';
  font-style: italic;
  font-size: 24px;
  border-radius: 25px;
}

#background {
  background-color: chocolate;
}

#p-container {
  width: 100px;
  /* background-color: darkcyan; */
  text-align: center;
}

#logo-main > h1 {
  font-family: 'Bebas Neue';
  font-style: italic;
  font-size: 50px;
}

#ocean-container {
  position: relative;
  text-align: center;
}

#ocean-title {
  /* background-color: brown; */
  font-family: 'Bebas Neue';
  font-style: italic;
  width: 100%;
  height: auto;
  position: absolute;
  top: 55%;
  display: flex;
  justify-content: space-around;
  font-size: 50px;
  color: white;
}

#ocean-text {
  /* background-color: brown; */
  font-family: 'Bebas Neue';
  font-style: italic;
  width: 100%;
  height: auto;
  position: absolute;
  top: 65%;
  display: flex;
  justify-content: space-around;
  font-size: 40px;
  color: white;
}

#ocean-text > h4 {
  /* background-color: aqua; */
  width: 30vw;
}

#black-section {
  font-family: 'Fondamento';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 100px;
  color: white;
}

#black-section > h1 {
  margin: 0px 10vw;
  font-size: 4vh;
}

#black-section > p {
  margin: 5vh 10vw;
  font-size: 2.5vh;
}

#icon-row {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

#icon-row > p {
  vertical-align: middle;
  font-size: 2.5vh;
  width: 20%;
  text-align: left;
  padding-top: 4%;
} 
  
#icon-row > img {
  width: 20%;
  object-fit: contain;
}

#icon-row > div {
  width: 20%;
}

#avatar-row {
  background-color: darkslateblue;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

#avatar-row > p {
  vertical-align: middle;
  font-size: 2.5vh;
  width: 15%;
  text-align: right;
  padding-top: 6%;
} 
  
#avatar-row > img {
  width: 23%;
  object-fit: contain;
}

#avatar-row > div {
  width: 15%;
}

#fire {
  object-fit: contain;
  height: 50vh;
}

#rainforest-text {
  font-family: 'Bebas Neue';
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#rf-inner {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#rf-inner > #logo{
  background-color: rgba(56, 56, 56, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#rf-inner > #text{
  background-color: rgba(56, 56, 56, 0.5);
  width: 50%;
  font-size: 30px;
  font-weight: 500;
}


