*, *:after, *:before {
  box-sizing: border-box;
}

/* font-family: 'Bebas Neue';
font-family: 'Fondamento'; */

body {
  margin: 0;
  /* background-color: rgb(120, 241, 120); */
  /* background-image: url(../images/Ocean.png); */
}

/* #app {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

#nav-container{
  display: flex;
  justify-content: center;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 85vw;
  height: 50px;
}

#navbar > button {
  font-family: 'Bebas Neue';
  font-style: italic;
  font-size: 24px;
  border-radius: 25px;
}


#background {
  background-color: chocolate;
}

#p-container {
  width: 100px;
  /* background-color: darkcyan; */
  text-align: center;
}

#logo-main > h1 {
  font-family: 'Bebas Neue';
  font-style: italic;
  font-size: 300%;
}

#ocean-container {
  position: relative;
  text-align: center;
}

#ocean-title {
  /* background-color: brown; */
  font-family: 'Bebas Neue';
  font-style: italic;
  width: 100%;
  height: auto;
  position: absolute;
  top: 55%;
  display: flex;
  justify-content: space-around;
  font-size: 3.5vw;
  color: white;
}

#ocean-text {
  /* background-color: brown; */
  font-family: 'Bebas Neue';
  font-style: italic;
  width: 100%;
  height: auto;
  position: absolute;
  top: 65%;
  display: flex;
  justify-content: space-around;
  font-size: 2.2vw;
  color: white;
}

#ocean-text > h4 {
  /* background-color: aqua; */
  width: 30vw;
}

#black-section {
  font-family: 'Fondamento';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 100px;
  color: white;
}

#black-section > h1 {
  margin: 0px 10vw;
  font-size: 4vh;
}

#black-section > p {
  margin: 5vh 10vw;
  font-size: 2.5vh;
}

#icon-row {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

#icon-row > p {
  vertical-align: middle;
  font-size: 2.5vh;
  width: 20%;
  text-align: left;
  padding-top: 4%;
} 
  
#icon-row > img {
  width: 20%;
  object-fit: contain;
}

#icon-row > div {
  width: 20%;
}

#avatar-row {
  /* background-color: darkslateblue; */
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 40vh;
  overflow: hidden;
}

#avatar-row > p {
  margin: auto 0px;
  vertical-align: middle;
  font-size: 2.5vh;
  width: 15%;
  text-align: right;
} 

#avatar-row > img {
  width: 23%;
  object-fit: contain;
}

#avatar-leaf {
  position: absolute;
  margin-left: 18%;
}

#avatar-water {
  position: absolute;
  margin-left: 36%;
  z-index: 1;
  width: 27% !important;
  top: -10%;
}

#avatar-ice {
  position: absolute;
  margin-left: 58%;
}

#fire {
  object-fit: contain;
  height: 50vh;
}

#rainforest {
  font-family: 'Bebas Neue';
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#rf-inner {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#rf-inner > #logo{
  background-color: rgba(56, 56, 56, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#rf-inner > #text{
  background-color: rgba(56, 56, 56, 0.5);
  width: 50%;
  font-size: 2vw;
  font-weight: 500;
}

#bottom-black {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#phase-2 {
  /* background-color: rgba(255, 244, 87, 0.5); */
  height: 50%;
  color: white;
  display: flex;
  justify-content: space-between;
}

#phase-2 > h1 {
  /* background-color: aqua; */
  width: 40%;
  margin: auto;
}

#phase-2 > div {
  /* background-color: darkgreen; */
  width: 50%;
  margin: auto;
  font-size: larger;
}

#faq {
  height: 50%;
  color: white;
  display: flex;
  justify-content: space-between;
}

#faq > h1{
  width: 40%;
}

#faq > div{
  /* background-color: aqua; */
  color: white;
  width: 50%;
  font-size: larger;
}

#dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#dropdown > p {
  /* background-color: chartreuse; */
  margin: .2vh 3vw;
  text-align: left;
}

.droprow {
  /* background-color: aqua; */
  display: flex;
  justify-content: flex-start;
  max-width: fit-content;
}

.droprow:hover {
  cursor: pointer;
}

.arrow-icon {
  /* background-color: brown; */
  margin: auto 2px;
}

.droprow > h3 {
  /* background-color: darkgreen; */
  margin: .2vh 0px;
  text-align: left;
}

.droptext-enter, .droptext-exit {
  transition: all 500ms ease;
}
.droptext-enter, .droptext-exit.droptext-exit-active {
  opacity: 0;
  overflow: hidden;
  max-height: 0;
}
.droptext-exit, .droptext-enter.droptext-enter-active {
  opacity: 1;
  overflow: hidden;
  max-height: 40px; /* looks good there, but I don't always know the height */
}

#bottom {
  display: flex;
  flex-direction: column;
}

#links {
  display: flex;
  justify-content: flex-start;
  margin-left: 3%;
}

#links > h4 {
  margin-right: 3%;
  font-size: larger;
}

#bottom > h1 {
  margin: auto;
  margin-left: 3%;
  font-size: 60px;
}

/* Gallery Page */
#Gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}