# Compiled bundles (https://nodejs.org/api/addons.html)
build
dist

# Dependency directories
node_modules/

# large image assets
client/components/test_avatars

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

